.ui-select-trigger {
    font-size:12px;
    border: 1px solid #eee;
    padding:5px 10px;
    font-family:tahoma;
}
.ui-select {
    border: 1px solid #eee;
    font-family:tahoma;
}
.ui-select-content {
    padding: 2px 0;
    margin: 0;
    background: #fff;
}
.ui-select-item {
    font-size:12px;
    padding: 5px 10px;
    list-style: none;
    background: #fff;
    width: 80px;
}

.ui-select-item-selected {
    background: red;
}
.ui-select-item-hover {
    background: #F47C02;
}
.ui-select-item-disabled {
    background: #ccc;
}
.ui-select-disabled {
    color: #ccc;
}
